p {
    width: 50%;
}


/*************************************************************/
/* THIS STUFF IS FOR THE SCROLLING TEXT ON THE TOP AND BOTTOM*/
/*************************************************************/
h1 {
    animation: marqueeLeft 7000ms linear infinite;
}

h2 {
    animation: marqueeRight 7000ms linear infinite;
}
