
.resume-iframe {
    height: 100vw;
    width: 75vw;
}

/* .work-container {
    display: flex;
    flex-direction: column;
    margin-left: 25vw;
    padding: 1rem;
    text-align: left;
    max-width: 50%;
}

.content-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
    font-family: 'DM Serif Display', sans-serif;
}

.content-work-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
    font-family: 'DM Serif Display', sans-serif;
}

.work-text {
    margin-bottom: 2rem;
} */


/* This is for mobile viewing */

/* @media screen and (max-width: 636px) {
    .work-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: auto;
      max-width: 90%;
    }

    .content-header {
      text-align: center;
    }

    .content-work-header {
      text-align: center;
    }

    .work-text {
      text-align: center;
    }
} */
