/* main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%; 
    min-width: 300px;  
}


p {
    max-width: 600px;  
    word-wrap: break-word;  
    margin-top: 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: white;
} */

/*****/
/*This is how Lucas does his resume stuff*/

.resume-iframe {
    height: 100vw;
    width: 75vw;
}

.work-container {
    display: flex;
    flex-direction: column;
    margin-left: 25vw;
    padding: 1rem;
    text-align: left;
    max-width: 50%;
}

.content-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
    font-family: 'DM Serif Display', sans-serif;
}

.content-work-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
    font-family: 'DM Serif Display', sans-serif;
}

.work-text {
    margin-bottom: 2rem;
}

@media screen and (max-width: 636px) {
    .work-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: auto;
      max-width: 90%;
    }

    .content-header {
      text-align: center;
    }

    .content-work-header {
      text-align: center;
    }

    .work-text {
      text-align: center;
    }
}

/*****/

/****************************************************/
/* THIS STUFF IS FOR THE STYLING ON THE CENTER TEXT */
/****************************************************/
/* .name {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body, html {
    height: 70%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
} */


/*************************************************************/
/* THIS STUFF IS FOR THE SCROLLING TEXT ON THE TOP AND BOTTOM*/
/*************************************************************/
h1 {
    animation: marqueeLeft 5000ms linear infinite;
}

h2 {
    animation: marqueeRight 5000ms linear infinite;
}